*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
#card{
    height: 400px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    place-items: center;
   
    
}
#card img{
    height:100%;
    width: 100%;
   object-fit: cover;
   object-position: center;
   border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin: 10px 0;
}
#card h5{
    font-size: 25px;
    color: red;
}
#card button{
    background-color: cadetblue;
    color: aliceblue;
    font-weight:700;
    padding: 12px 50px;
    border-radius: 50px;
    border:none ;
    cursor: pointer;
}
