*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    color: white;
}
.elem{
    height: 100px;
    width: 100%;
    border-bottom:2px solid white ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.elem h1{
    font-size: 6vw;
    mix-blend-mode: difference;
    z-index: 9;
    position: relative
    
    
}
.elem img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    position: absolute;
    /*transform: translate(-50% ,-50%);*/
    opacity: 0;
    transition: all linear 0.2s;
}